@model LegalLeadCloser.Models.Users

@{
    ViewData["Title"] = "Sign-Up";
}

<h1>Register</h1>

<h4>New User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyStartDate" class="control-label"></label>
                <input asp-for="CompanyStartDate" class="form-control" />
                <span asp-validation-for="CompanyStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityAddress" class="control-label"></label>
                <input asp-for="CityAddress" class="form-control" />
                <span asp-validation-for="CityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAddress" class="control-label"></label>
                <select input asp-for="StateAddress" class="form-control selectpicker">
                    <option value="" selected disabled hidden>Please select your state</option>
                    <option value="Alabama             ">Alabama                </option>
                    <option value="Alaska              ">Alaska                 </option>
                    <option value="Arizona             ">Arizona                </option>
                    <option value="Arkansas            ">Arkansas               </option>
                    <option value="California          ">California             </option>
                    <option value="Colorado            ">Colorado               </option>
                    <option value="Connecticut         ">Connecticut            </option>
                    <option value="Delaware            ">Delaware               </option>
                    <option value="District of Columbia">District of Columbia   </option>
                    <option value="Florida             ">Florida                </option>
                    <option value="Georgia             ">Georgia                </option>
                    <option value="Hawaii              ">Hawaii                 </option>
                    <option value="Idaho               ">Idaho                  </option>
                    <option value="Illinois            ">Illinois               </option>
                    <option value="Indiana             ">Indiana                </option>
                    <option value="Iowa                ">Iowa                   </option>
                    <option value="Kansas              ">Kansas                 </option>
                    <option value="Kentucky            ">Kentucky               </option>
                    <option value="Louisiana           ">Louisiana              </option>
                    <option value="Maine               ">Maine                  </option>
                    <option value="Maryland            ">Maryland               </option>
                    <option value="Massachusetts       ">Massachusetts          </option>
                    <option value="Michigan            ">Michigan               </option>
                    <option value="Minnesota           ">Minnesota              </option>
                    <option value="Mississippi         ">Mississippi            </option>
                    <option value="Missouri            ">Missouri               </option>
                    <option value="Montana             ">Montana                </option>
                    <option value="Nebraska            ">Nebraska               </option>
                    <option value="Nevada              ">Nevada                 </option>
                    <option value="New Hampshire       ">New Hampshire          </option>
                    <option value="New Jersey          ">New Jersey             </option>
                    <option value="New Mexico          ">New Mexico             </option>
                    <option value="New York            ">New York               </option>
                    <option value="North Carolina      ">North Carolina         </option>
                    <option value="North Dakota        ">North Dakota           </option>
                    <option value="Ohio                ">Ohio                   </option>
                    <option value="Oklahoma            ">Oklahoma               </option>
                    <option value="Oregon              ">Oregon                 </option>
                    <option value="Pennsylvania        ">Pennsylvania           </option>
                    <option value="Rhode Island        ">Rhode Island           </option>
                    <option value="South Carolina      ">South Carolina         </option>
                    <option value="South Dakota        ">South Dakota           </option>
                    <option value="Tennessee           ">Tennessee              </option>
                    <option value="Texas               ">Texas                  </option>
                    <option value="Utah                ">Utah                   </option>
                    <option value="Vermont             ">Vermont                </option>
                    <option value="Virginia            ">Virginia               </option>
                    <option value="Washington          ">Washington             </option>
                    <option value="West Virginia       ">West Virginia          </option>
                    <option value="Wisconsin           ">Wisconsin              </option>
                    <option value="Wyoming             ">Wyoming                </option>
                </select>
                <span asp-validation-for="StateAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCodeAddress" class="control-label"></label>
                <input asp-for="ZipCodeAddress" class="form-control" />
                <span asp-validation-for="ZipCodeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionService" class="control-label"></label>
                <select input asp-for="SubscriptionService" class="form-control selectpicker">
                    <option value="" selected disabled hidden>Please select your Subscription</option>
                    <option value="10 days Trial">10 days Trial</option>
                    <option value="30 days">30 days</option>
                    <option value="180 days">180 days</option>
                    <option value="365 days">365 days</option>
                </select>
                <span asp-validation-for="SubscriptionService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Roles" class="form-control" />
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}